{% extends "SUHGestionBundle:AffichageEtudiants:base.html.twig" %}

{% block title %} {{parent()}} - Accueil {% endblock %}

{% block body %}
    <body>
        <section id="containerFluidBody" class="container-fluid">
            <div class="row">
                <div id="divListe" class="col-md-2">
                    <div id="recherche" class="row">
                        <div class="form-group">
                            <form class="input-group" action="{{ path('suh_get_etudiant_nomEtPrenom') }}" method="GET">
                                <input name="chaine" class="form-control" type="text" placeholder="Rechercher...">
                                <span class="input-group-btn">
                                    <button type="submit" href="#" class="btn btn-md btn-primary"> <span class="glyphicon glyphicon-zoom-in"></span></button>
                                </span>
                            </form>
                        </div>
                    </div>
                           
                    <!-- Affiche la liste : <div id="liste"> </div>
                        + le nombre de résultats : <div id="nbResultats> </div> -->                   
                {% if listeEtudiantsHandicapes is defined and listeEtudiantsHandicapes is not empty %}
                    {% include 'SUHGestionBundle:AffichageEtudiants:liste.html.twig' with {'listeEtudiantsHandicapes': listeEtudiantsHandicapes} %}
                {% endif %}
                    <div id="gestionEtudiants" class="row">
                        <a id="ajout" href="{{path('suh_gestion_addEtudiant')}}" class="btn btn-md btn-primary col-md-4" > <span class="glyphicon glyphicon-plus"></span></a>
                        <a id="modification" class="btn btn-md btn-primary col-md-4" onclick="return ConfirmationModification();"> <span class="glyphicon glyphicon-refresh"></span></a>
                        <a id="suppression" class="btn btn-md btn-primary col-md-4" onclick="return ConfirmationSuppression();"> <span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>  
                   
                <div id="affichage" class="col-md-10">
                {% if afficheExcelVue is defined and afficheExcelVue == true %}
                    {% include 'SUHGestionBundle:Excel:ExcelVue.html.twig' %}
                {% endif %}
                </div>
                
            </div>
        </section>      
        <br/><br/>
    </body>
    {% if tab is defined %}
       {{dump(tab)}}
    {% endif %}
{% endblock %}