{% extends "SUHGestionBundle:Default:base.html.twig" %}

{% block title %} {{parent()}} - Accueil {% endblock %}

{% block body %}
    <body>
        <section id="containerFluidBody" class="container-fluid">
            <div class="row">
                <div id="divListe" class="col-md-2">
                    <div id="recherche" class="row">
                        <div class="form-group">
                            <form class="input-group" action="{{ path('suh_get_etudiant_nomEtPrenom') }}" method="GET">
                                <input name="chaine" class="form-control" type="text" placeholder="Rechercher...">
                                <span class="input-group-btn">
                                    <button type="submit" href="#" class="btn btn-md btn-primary"> <span class="glyphicon glyphicon-zoom-in"></span></button>
                                </span>
                            </form>
                        </div>
                    </div>
                    
                    <!-- Affiche la liste : <div id="liste"> </div>
                        + le nombre de résultats : <div id="nbResultats> </div> -->                   
                {% if listeEtudiantsHandicapes is defined and listeEtudiantsHandicapes is not empty %}
                    {% include 'SUHGestionBundle:Default:liste.html.twig' with {'listeEtudiantsHandicapes': listeEtudiantsHandicapes} %}
                {% endif %}
                    <div id="gestionEtudiants" class="row">
                        <button href="#" class="btn btn-md btn-primary col-md-4"> <span class="glyphicon glyphicon-plus"></span></button>
                        <button href="#" class="btn btn-md btn-primary col-md-4"> <span class="glyphicon glyphicon-refresh"></span></button>
                        <button href="#" class="btn btn-md btn-primary col-md-4"> <span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>  
                <div id="affichage" class="col-md-10">
                {% if informationsEtudiant is defined and informationsEtudiant is not empty %}
                    {% include 'SUHGestionBundle:Default:spoiler.html.twig' with {'informationsEtudiant': informationsEtudiant} %}
                {% endif %}
                </div>
            </div>
        </section>      
        <br/><br/>
    </body>
{% endblock %}