{% extends "SUHGestionBundle:Default:base.html.twig" %}

{% block title %} {{parent()}} - Accueil {% endblock %}

{% block body %}
    <body>
        <section id="containerFluidBody" class="container-fluid">
            <div class="row">
                <div id="divListe" class="col-md-2">
                    <div id="recherche" class="row">
                        <div class="form-group">
                            <form class="input-group" action="{{ path('suh_get_etudiant_nomEtPrenom') }}" method="GET">
                                <input name="chaine" class="form-control" type="text" placeholder="Rechercher...">
                                <span class="input-group-btn">
                                    <button type="submit" href="#" class="btn btn-md btn-primary"> <span class="glyphicon glyphicon-zoom-in"></span></button>
                                </span>
                            </form>
                        </div>
                    </div>
                    
                    <!-- Affiche la liste : <div id="liste"> </div>
                        + le nombre de résultats : <div id="nbResultats> </div> -->                   
                {% if listeEtudiantsHandicapes is defined and listeEtudiantsHandicapes is not empty %}
                    {% include 'SUHGestionBundle:Default:liste.html.twig' with {'listeEtudiantsHandicapes': listeEtudiantsHandicapes} %}
                {% endif %}
                    <div id="gestionEtudiants" class="row">
                        <button href="#" class="btn btn-md btn-primary col-md-4"> <span class="glyphicon glyphicon-plus"></span></button>
                        <button href="#" class="btn btn-md btn-primary col-md-4"> <span class="glyphicon glyphicon-refresh"></span></button>
                        <button href="#" class="btn btn-md btn-primary col-md-4"> <span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>  
                <div id="affichage" class="col-md-10">
                {#{% if informationsEtudiant is defined and informationsEtudiant is not empty %}
                    {% include 'SUHGestionBundle:Default:spoiler.html.twig' with {'informationsEtudiant': informationsEtudiant} %}
                {% endif %}#}
                </div>
                <script type="text/javascript">
                //dernier etudiant selectionne dans la liste
                var last;
                //couleur de fond dans la liste de l'étudiant(permet de passer du rouge à la couleur d'avance)
                var lastColor;
                $(document).ready(function() {
                //pour tous les liens de la liste
                  $("#liste ul li a").on('click',function(event) {
                    //l'url est celui du lien
                    var url = $(this).prop('href');
                    //on stocke la couleur de base avant de la passer au rouge(afin de la remettre en état
                    //au prochain clic
                    lastColor=$(this).css("background-color");
                    //le lien sélectionné devient rouge
                    $(this).css({'background-color':'#FF866A'});
                    //si il y a déjà eu un étudiant selectionné sa couleur redevient celle d'origine
                    if (!(typeof last === "undefined")) {
                        $(last).css({'background-color':lastColor});
                    }      
                    //le dernier étudiant sélectionné devient l'étudiant courant
                    last=this;
                    //on charge la div d'affichage d'un etudiant
                    $("#affichage").load(url);
                    //on évite la redirection
                    event.preventDefault();
                  });
                });
                </script>
            </div>
        </section>      
        <br/><br/>
    </body>
{% endblock %}